<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録確認</title>
</head>
<body>
	<h1>登録内容確認</h1>
	<span>以下の内容で登録します</span>
	<table border="1">
		<tr>
			<th>名前</th>
			<td th:text="${account.name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${account.email}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${account.password}"></td>
		</tr>
	</table>
	
	<form action="/account" method="post">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="email" th:value="${account.email}">
		<input type="hidden" name="password" th:value="${account.password}">
		<button>登録</button>
	</form>
</body>
</html>