<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>会員登録</title>
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<h2>お客様情報</h3>
		<div th:each="error: ${errors}">
			<span th:text="${error}"></span>
		</div>
		<form action="/account" method="post">
			<table>
				<tr>
					<th>お名前</th>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><input type="text" name="address"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><input type="text" name="tel"></td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="password" name="password"></td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>