<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav>
		<form action="/items" method="get">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="商品名"> | 
			<input type="text" name="maxPrice" th:value="${maxPrice}" placeholder="価格">円以下
			<button>検索</button>
		</form>
		<a href="/items">全商品</a>
		<a th:each="c:${categories}" th:href="'/items?categoryId='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		<a href="/cart" style="padding-left: 10px;">カートを見る</a>
	</nav>
	<main>
		<table>
			<tr>
				<th>NO</th>
				<th>カテゴリー</th>
				<th>商品名</th>
				<th>値段</th>
				<th></th>
			</tr>
			<tr th:each="item:${items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.category.name}"></td>
				<td><a th:href="'/items/' + ${item.id}" th:text="${item.name}"></a></td>
				<td th:text="${item.price}"></td>
				<td>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button>カートに追加</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>