<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー一覧</title>
</head>
<body>
	<h1>カテゴリー一覧</h1>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>カテゴリー名</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="category: ${categories}">
				<th th:text="${category.id}"></th>
				<th th:text="${category.name}"></th>
				<th>
					<form th:action="'/admin/categories/' + ${category.id} + '/edit'" method="get">
						<button>更新</button>
					</form>
				</th>
				<th>
					<form th:action="'/admin/categories/' + ${category.id} + '/delete'" method="post">
						<button>削除</button>
					</form>
				</th>
			</tr>
		</tbody>
	</table>
	<a href="/admin/categories/add">新規登録</a><br>
	<a href="/admin/items">商品管理</a>
</body>
</html>