<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
	<h1>商品一覧</h1>
	
	<table border="1">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>値段</th>
				<th>在庫</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product :${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.stock}"></td>
				<td>
					<form th:action="'/products/' + ${product.id}" method="get">
						<button>入出庫</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>